doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css")
        title Home 
    body 
         nav.navbar.navbar-expand-lg.navbar-dark(style="background-color:var(--bs-orange)") 
            .container 
                a.navbar-brand(href="") JWT AUTH

                ul.navbar-nav 
                    li.nav-item 
                        a.navbar-link(href="/home").btn.btn-waring.me-2= name.username 
                    li.nav-item 
                        a.navbar-link(href="/changePassword").btn.btn-waring.me-2 Change Password 
                    li.nav-item 
                        a.navbar-link(href="/addstudent").btn.btn-waring.me-2 Add Student 
                    li.nav-item 
                        a.navbar-link(href="/logout").btn.btn-waring.me-2 Logout  
    .container.container-sm-fluid 
        .row 
                .col-3.mx-auto
                    .card-body 
                        form(action="/Rf_reader", method="post") 
                            .mb-3 
                                label(for="") Rf Code 
                                input(type="number", name="rf_id",autofocus).form-control 
                            .mb-3 
                                input(type="submit").btn.btn-primary.w-100 

        .row 
            .col-sm-12.col-lg-9.mx-auto 
                .row
                    .col
                        a(href="/checkrecord").btn.btn-warning.btn-sm.float-end.mb-3.text-white Check Record 
                .card 
                    h4.mt-4.text-center Mark Attendance #{date}
                    .card-body 
                        table.table.table-striped.table-hover
                            tr 
                                th S.No
                                th Name
                                th Course
                                th Semester
                                th Branch
                                th Attendance
                                -var count = 0
                            each val in result
                                -count ++
                                tr 
                                    td= count
                                    td= val.studentName
                                    td= val.course
                                    td= val.semester
                                    td= val.branch
                                    td
                                        if val.status == 0
                                            a(href=`/present/${val._id}`).btn.btn-success.btn-sm.fw-bold.me-4 P
                                            a(href=`/absent/${val._id}`).btn.btn-danger.btn-sm.fw-bold A 
                                        else if val.status == 1
                                             a.btn.btn-sm.btn-success.disabled.fw-bolder Present
                                        else if val.status == -1
                                             a.btn.btn-sm.btn-danger.disabled.fw-bolder Absent
